language: r
sudo: false
warnings_are_errors: false
env:
  - NODE_VERSION="4.3"

before_install:
  - nvm install $NODE_VERSION
  - node --version
  - npm --version

install: "npm install"
script: "npm test"